<section>
    <h2>Entre como Participante</h2>
    <form action="/enterroom" method="POST">
        <label class="sr-only" for="roomId">Codigo da sala</label>
        <input type="number" name="roomId" placeholder="Codigo da sala">

        <button>
            <img src="/assets/Enter-room.svg" alt="Entrar na sala">
            Entrar na sala
        </button>
        <div class="separator">
            <div></div>
            <div>ou</div>
            <div></div>
        </div>
    </form>
</section>

<section>
    <h2>Crie sua propria sala de forma facil</h2>
    <a href="/create" class="button outlined">
        <img src="/assets/users.svg" alt="Criar sala"> Criar Sala
    </a>
</section>